<!-- Integrantes: Felipe Opazo Rivas -->

<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="row mb-2">
                    <div class="col-md-3">
                        <h2 class="pl-4">Pacientes</h2>
                    </div>
                    <div class="col-md-2 pt-1">
                        <a href="/paciente/add" class="btn btn-primary btn-block">Nuevo</a>
                    </div>
                    <div class="col-md-2 offset-md-4 pt-1">
                        <a href="/vacunas" class="btn btn-primary btn-block">Vacunas</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2 table-responsive">
                <table class="table text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">RUN</th>
                            <th scope="col">Fec. Nac.</th>
                            <th scope="col">Vacunas</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if pacientes %}
                        {% for paciente in pacientes %}
                        <tr>
                            <td> {{ paciente["rut"] }} </td>
                            <td> {{ paciente["nombre"] }} </td>
                            <td> {{ paciente["fecha_nacimiento"] }} </td>
                            <td>
                                <a href="/paciente/{{ paciente["rut"] }}/addVacuna" class="">Agregar</a>
                                <a href="/paciente/{{ paciente["rut"] }}/vacunas" class="ml-2">Ver</a>
                            </td>
                        </tr>
                        {% endfor%}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div> 
    </div> <!-- End Container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>